<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstMacDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE3733AE1CABECEA00C617FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9EEA171CA3CF1F00798ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9EEA2D1CA3CF1F00798ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE9EEA381CA3CF1F00798ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
